<h1>Lista podcast disponibili</h1>

<table>
    <tr>
        <th>N°</th>
        <th>Nome</th>
        <th>Durata</th>
        <th>Riproduci</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Hey</td>
        <td>02:51</td>
        <td>
            <button [routerLink]="['../play', 0]">
                <svg width="100px" height="80px">
                    <path d="M 10 10 L 10 80 L 100 45 z" fill="black"/>
                    <!--<polyline points="10,10 10,80 100,45"/>-->
                </svg>
            </button>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Summer</td>
        <td>03:37</td>
        <td>
            <button [routerLink]="['../play', 1]">
                <svg width="100px" height="80px">
                    <path d="M 10 10 L 10 80 L 100 45 z" fill="black"/>
                    <!--<polyline points="10,10 10,80 100,45"/>-->
                </svg>
            </button>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Ukulele</td>
        <td>02:26</td>
        <td>
            <button [routerLink]="['../play', 2]">
                <svg width="100px" height="80px">
                    <path d="M 10 10 L 10 80 L 100 45 z" fill="black"/>
                    <!--<polyline points="10,10 10,80 100,45"/>-->
                </svg>
            </button>
        </td>
    </tr>
</table>